<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuri.notebook"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.test0823" >
    </instrumentation>

    <application
        android:name="com.baidu.frontia.FrontiaApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_ic_notebook"
        android:label="@string/app_name" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".start.StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" >
        </activity>
        <activity
            android:name=".start.AppIntroduce"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".login.LockPatternActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name=".login.LoginPasswdActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.yuri.notebook.activitys.NewNoteActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.yuri.notebook.activitys.CheckNoteActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <!-- android:windowSoftInputMode="adjustResize"   可以解决不自动弹出输入法的BUg -->
        <activity
            android:name="com.yuri.notebook.activitys.EditNoteActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.yuri.notebook.activitys.NoteSettingActivity"
            android:label="@string/setting"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.yuri.notebook.unuse.ZipBackupActivity"
            android:label="@string/note_backup"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".XmlBackupActivity"
            android:label="@string/note_backup"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <provider
            android:name="com.yuri.notebook.db.NoteProvider"
            android:authorities="com.yuri.notebook.db.notebookprovider" />

        <activity
            android:name="com.yuri.notebook.activitys.AboutActivity"
            android:label="@string/about"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="com.yuri.notebook.about" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yuri.notebook.activitys.NoteMainActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
    </application>

</manifest>